@tailwind base;
@tailwind components;
@tailwind utilities;

.grow--animation {
  -webkit-animation: grow 1.5s infinite;
  /* Safari 4+ */
  -moz-animation: grow 1.5s infinite;
  /* Fx 5+ */
  -o-animation: grow 1.5s infinite;
  /* Opera 12+ */
  animation: grow 1.5s infinite;
  /* IE 10+, Fx 29+ */
}

@keyframes grow {
  0% {}

  50% {
    opacity: .2;
  }

  100% {}
}
